{% extends "barbershop/base_generic.html" %}

{% block content %}
<br>
<form action="add_barber">
    <button>Create a barber manually</button>
</form>
<br>
<br>
<label for='count'>Choose the number of barbers to randomly create:</label>
<form action="" method="POST">
    {% csrf_token %}
    <select id="count" name="count">
        {% for num in count %}
        <option>{{num}}</option>
        {% endfor %}
    </select>
    <button type="submit" name="create">create</button>
</form>
{% endblock %}